
// Variables
$color-purple: #935CE8;
$color-light-gray: #BAC8D5;
$color-lighter-gray: #EFF4F8;
$color-blue: #5CABE8;
$color-off-black: #333;

// Typography
html {
  font-size: 62.5%; /* Now 10px = 1rem! */
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px; /* px fallback */
  font-size: 1.6rem; /* default font-size for document */
  line-height: 1.5; /* a nice line-height */
}

hr {
  border-bottom:1px solid $color-light-gray;
  border-top:1px solid $color-light-gray;
  height:.4rem;
  margin:5rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  color:$color-purple;
}

a {
  color:$color-purple;
  text-decoration: underline;

  &:hover {
    color:$color-blue;
  }
}

// Buttons
.btn {
  color: $color-purple !important;
  text-decoration: none;
  font-size:1.6rem;
  padding:.8rem 1.6rem;

  &.btn-primary {
    background:$color-purple;
    border:0;
    color:#FFF !important;

    &:hover {
      background:$color-blue;
    }
  }
}

// Form Styles
form {

  .animate-input {
    padding-top:1rem;
    position:relative;

    &.search {

      &:after {
        display:block;
        position:absolute;
        top:2.2rem;
        right:2rem;
        font-family:FontAwesome;
        content: '\f002';
      }

      input.form-control {
        padding-right:4rem;
      }
    }

    label {
      background:#FFF;
      position: absolute;
      top:.2rem;
      left:.7rem;
      font-size:1.2rem;
      transition: all .2s;
      cursor:text;
      padding:0 .5rem;
      color:$color-off-black;
    }

    input:placeholder-shown:not(:focus) + * {
      position:absolute;
      top:3rem;
      font-size:1.6rem;
      padding:0;
      z-index: -1;
    }

    input {
      
      &.form-control {
        background:transparent;
        border:2px solid transparent;
        border-bottom:2px solid $color-light-gray;
        font-size:1.6rem;
        height:auto;
        margin-bottom:1rem;
        padding:1.2rem 1rem 1rem;
      }

      &:focus {
        outline: none;
        border:2px solid $color-light-gray;
        box-shadow: none;
      }
    }
  }

  .custom-checkbox, .custom-radio {
    padding-left:2.8rem;

    .custom-control-label {
      &:before, &:after {
        left:-2.8rem;
        top:.2rem;
        height:2rem;
        width:2rem;
      }

      &:before {
        background:transparent;
        border:2px solid $color-light-gray;
      }
    }

    .custom-control-input:checked~.custom-control-label::after {
      background: $color-purple;
      border-radius: .25rem;
    }

  }

  .custom-radio .custom-control-input:checked~.custom-control-label::after {
    border-radius: 5rem;
  }

}

// Login page
.login-container {
  margin:auto;
  max-width:650px;

  #showPass {
    position:absolute;
    bottom:1rem;
    left:0;
  }
}

// Internal Header
header.internal {
  background-image:linear-gradient(90deg, #5CABE8 0%, #935CE8 100%);
  color:#FFF;
}

// Activities
.activities {
  background: $color-lighter-gray;
}

// Internal Body
.remainingvh {
  min-height: calc(100vh - 8.4rem);
}

// Internal Nav

body.popupmenu-open {
  height:100vh;
  overflow: hidden;
}

#main-menu {
  background:$color-off-black;

  ul {
    margin:0;
    padding:0;
    text-align: center;
    width:auto;
    margin:auto;

    li {
      list-style-type: none;
      margin:0;
      padding:0;
      display: inline;

      a {
        background:transparent;
        color:#FFF;
        display: inline-block;
        padding:1.6rem 2rem;
        text-decoration: none;
        cursor: pointer;
        transition: all .2s;

        &:hover {
          background:$color-blue;
        }
      }

      .popmenu {
        display: none;

        &.display-menu {
          background-image: linear-gradient(90deg, $color-blue 0%, $color-purple 100%);
          display:block;
          font-size: 3rem;
          line-height:8rem;
          position:absolute;
          top:0;
          left:0;
          height:100vh;
          width:100%;
          z-index: 9999;
          text-align:center;
          opacity:0.1;

          a, button {
            background:transparent;
            border:1px solid #FFF;
            border-radius:50%;
            color:#FFF;
            height:8rem;
            width:8rem;
            position:absolute;
            top:50%;
            left:50%;
            transform:translateY(-50%) translateX(-50%);
            padding:0;

            &:hover {
              line-height:9rem;
              height:9rem;
              width:9rem;
            }
          }

          a {
            background:#FFF;
            color:$color-purple;

            &:hover {
              background:$color-purple;
              color:#FFF;
              border-color:$color-purple;
              box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2);
              // transform: translateY(-)
            }

            &:after {
              display:block;
              font-size: 1.2rem;
              line-height: 2rem;
              color:#FFF;
              padding-top:1rem;
            }
          }

          .overlay-close {
            cursor: pointer;
            margin-top:-10rem;
            transition: all .2s;

            &:hover {
              background:#FFF;
              color:$color-purple;
              box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
            }
          }

          .add-task {
            margin-left:-10rem;

            &:after {
              content: 'Add Task';
            }
          }

          .add-contact {
            left:initial;
            right:50%;
            margin-right:-10rem;
            transform:translateY(-50%) translateX(50%);

            &:after {
              content: 'Add Contact';
            }
          }
        }
      }
    }
  }
}

// Contact List

ul#contactList {
  margin:0;
  padding:0;

  li {
    border-bottom: 1px solid $color-light-gray;
    list-style: none;
    padding:2rem;

    em {
      opacity: 0.5;
    }
  }

  .headshot-small {
    background:#333;
    border-radius: 50%;
    border:3px solid $color-purple;
    height: 8rem;
    width:8rem;
    overflow: hidden;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
  }

}